.form-item-region > div {
    display: table;
}

.form-item-region > div > div {
    display: table-row;
}

.region > select, .region > input {
    display: table-cell;
    margin: 1mm;
}

.notice > ul {
    list-style-image: url("/sites/default/files/email32.png");
}

#black {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 9;
}

#notices {
    /*position: fixed;*/
    display: block;
    margin-top: 30vh;
    max-width: 800px;
    margin-left: 15vw;
    margin-right: 15vw;
    padding: 2vw;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 10;
}

#notices li {
    cursor: pointer;
    min-height: 64px;
}

#notices li:hover {
    background: url("/sites/default/files/confirm.png") no-repeat right;
}